@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Transparent background image -->
<div id="background"></div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br /><br />
</div>

<!-- Soundcloud embed -->
<div>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/10178102&color=%231b5ca8&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>

<br />

<!-- Table of pictures -->
<div class="row">
    <div class="column">
        <img src="https://pbs.twimg.com/profile_images/830290021626298368/5K_-vJWp_400x400.jpg" alt="Play Performance" style="width:100%">
    </div>
    <div class="column">
        <img src="https://scontent-sea1-1.cdninstagram.com/vp/787827dc10b15523774933d6c92bc5c0/5D0162CF/t51.2885-15/e35/50940473_288405388464196_8898939952701446553_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com&se=7&ig_cache_key=MTk3NDUxMDg1MzUwMDA0NTUxMA%3D%3D.2" alt="SF China Town Trip" style="width:100%">
    </div>
    <div class="column">
        <img src="https://scontent-sea1-1.cdninstagram.com/vp/f68dcdf2736162e7846518236e17d0a8/5CDE43A9/t51.2885-15/e35/50977151_402592467174703_7574412550314887368_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com&se=8&ig_cache_key=MTk3NjUwMzg5MDUyNjc0MTEyMw%3D%3D.2" alt="SF China Town Trip" style="width:100%">
    </div>
    <div class="column">
        <img src="https://scontent-sea1-1.cdninstagram.com/vp/a38f2afe551c20e03da813f72a2d6fc6/5CED0769/t51.2885-15/e35/51010866_303079230374528_131601366008518359_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com&se=7&ig_cache_key=MTk3NTYxMTUyNDI0MDQ4MDI1Mg%3D%3D.2" alt="Album Performance" style="width:100%">
    </div>
    <div class="column">
        <img src="https://scontent-sea1-1.cdninstagram.com/vp/36c329f427d4184e64a242c811981804/5CF7637B/t51.2885-15/e35/46855883_1328405533998951_2097959257587519388_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com&se=8&ig_cache_key=MTk3NjUwMzg5MDQ5MzEyMjMxMQ%3D%3D.2" alt="SF China Town Trip" style="width:100%">
    </div>
    <div class="column">
        <img src="https://scontent-sea1-1.cdninstagram.com/vp/6eac11b2ab6f433606fba40e5dd0e71b/5CED8652/t51.2885-15/e35/50536343_1065263680341206_2585332072900593355_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com&se=7&ig_cache_key=MTk3NjM0NDcxMDk2MDYyNjQ2Nw%3D%3D.2" alt="SF China Town Trip" style="width:100%">
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The social media icon bar -->
<div class="icon-bar">
    <a href="http://www.facebook.com/mbkeys93" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="http://www.twitter.com/mbkeys93" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="http://www.youtube.com/user/mbkeys93" class="youtube"><i class="fa fa-youtube"></i></a>
</div>
